In [3]:
import pandas as pd

# Divide into train and test data

In [40]:
data = pd.read_csv("./data/train.csv")

In [42]:
y = data["rainfall"]
X = data[["id","pressure","maxtemp","temparature","mintemp","dewpoint","humidity","cloud","sunshine","winddirection","windspeed"]]

In [45]:
X

,id,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
0,0,1017.4,21.2,20.6,19.9,19.4,87.0,88.0,1.1,60.0,17.2
1,1,1019.5,16.2,16.9,15.8,15.4,95.0,91.0,0.0,50.0,21.9
2,2,1024.1,19.4,16.1,14.6,9.3,75.0,47.0,8.3,70.0,18.1
3,3,1013.4,18.1,17.8,16.9,16.8,95.0,95.0,0.0,60.0,35.6
4,4,1021.8,21.3,18.4,15.2,9.6,52.0,45.0,3.6,40.0,24.8
...,...,...,...,...,...,...,...,...,...,...,...
2185,2185,1014.6,23.2,20.6,19.1,19.9,97.0,88.0,0.1,40.0,22.1
2186,2186,1012.4,17.2,17.3,16.3,15.3,91.0,88.0,0.0,50.0,35.3
2187,2187,1013.3,19.0,16.3,14.3,12.6,79.0,79.0,5.0,40.0,32.9
2188,2188,1022.3,16.4,15.2,13.8,14.7,92.0,93.0,0.1,40.0,18.0
2189,2189,1013.8,21.2,19.1,18.0,18.0,89.0,88.0,1.0,70.0,48.0

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 1)

# Check for MC, Distributions

In [ ]:
X_train = X_train.set_index("id")
X_test = X_test.set_index("id")

,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
id,,,,,,,,,,
1912,1012.5,27.9,25.5,22.4,23.8,92.0,89.0,0.7,170.0,11.7
372,1022.6,15.9,11.3,10.8,7.7,81.0,78.0,2.2,20.0,29.6
679,1016.4,21.9,18.6,18.8,15.4,76.0,88.0,8.6,70.0,26.8
1065,1024.9,17.3,15.2,11.8,10.6,54.0,58.0,8.5,50.0,19.3
1975,1008.5,33.2,30.8,27.4,24.1,71.0,48.0,10.0,230.0,23.4
...,...,...,...,...,...,...,...,...,...,...
960,1011.7,32.3,29.9,27.2,23.2,73.0,43.0,9.5,70.0,25.0
905,1005.4,31.1,28.4,28.8,25.5,84.0,86.0,6.8,220.0,16.7
1096,1016.7,18.2,16.3,15.4,14.7,90.0,100.0,0.0,40.0,23.3
235,1011.4,31.4,28.1,26.8,23.7,75.0,56.0,10.0,70.0,32.5
1061,1024.2,17.2,15.0,13.7,17.2,79.0,83.0,1.5,20.0,27.4

In [56]:
X_train.corr()

,id,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
id,1.000000,-0.014310,0.017564,0.019818,0.024592,0.008526,-0.039106,-0.006416,0.002079,0.012634,0.031195
pressure,-0.014310,1.000000,-0.800815,-0.817126,-0.815403,-0.821099,-0.120880,0.101701,-0.253905,-0.640707,0.268344
maxtemp,0.017564,-0.800815,1.000000,0.982440,0.964945,0.906933,-0.075753,-0.291174,0.455314,0.656341,-0.353496
temparature,0.019818,-0.817126,0.982440,1.000000,0.987040,0.933585,-0.028107,-0.248993,0.414402,0.663189,-0.339424
mintemp,0.024592,-0.815403,0.964945,0.987040,1.000000,0.940696,0.004007,-0.220888,0.381134,0.659701,-0.325156
dewpoint,0.008526,-0.821099,0.906933,0.933585,0.940696,1.000000,0.150516,-0.086686,0.250626,0.641249,-0.309097
humidity,-0.039106,-0.120880,-0.075753,-0.028107,0.004007,0.150516,1.000000,0.588823,-0.546016,-0.006108,0.038647
cloud,-0.006416,0.101701,-0.291174,-0.248993,-0.220888,-0.086686,0.588823,1.000000,-0.808708,-0.110049,0.172765
sunshine,0.002079,-0.253905,0.455314,0.414402,0.381134,0.250626,-0.546016,-0.808708,1.000000,0.257488,-0.231753
winddirection,0.012634,-0.640707,0.656341,0.663189,0.659701,0.641249,-0.006108,-0.110049,0.257488,1.000000,-0.192237
windspeed,0.031195,0.268344,-0.353496,-0.339424,-0.325156,-0.309097,0.038647,0.172765,-0.231753,-0.192237,1.000000

In [57]:
# keep only temperature, pressure, humidity, cloud, sunshine, windspeed

In [59]:
X_train = X_train[["temparature","pressure","humidity","cloud","sunshine","windspeed"]]
X_test = X_test[["temparature","pressure","humidity","cloud","sunshine","windspeed"]]

# Logsitic Regression

In [60]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [62]:
clf = LogisticRegression(random_state=0,max_iter = 500).fit(X_train, y_train)

In [63]:
clf.score(X_test,y_test)

0.865296803652968

In [68]:
clf.feature_names_in_

array(['temparature', 'pressure', 'humidity', 'cloud', 'sunshine',
       'windspeed'], dtype=object)

In [65]:
test = pd.read_csv("./data/test.csv")

In [69]:
X_predict = test.set_index("id")

In [70]:
X_predict

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
id,,,,,,,,,,,
2190,1,1019.5,17.5,15.8,12.7,14.9,96.0,99.0,0.0,50.0,24.3
2191,2,1016.5,17.5,16.5,15.8,15.1,97.0,99.0,0.0,50.0,35.3
2192,3,1023.9,11.2,10.4,9.4,8.9,86.0,96.0,0.0,40.0,16.9
2193,4,1022.9,20.6,17.3,15.2,9.5,75.0,45.0,7.1,20.0,50.6
2194,5,1022.2,16.1,13.8,6.4,4.3,68.0,49.0,9.2,20.0,19.4
...,...,...,...,...,...,...,...,...,...,...,...
2915,361,1020.8,18.2,17.6,16.1,13.7,96.0,95.0,0.0,20.0,34.3
2916,362,1011.7,23.2,18.1,16.0,16.0,78.0,80.0,1.6,40.0,25.2
2917,363,1022.7,21.0,18.5,17.0,15.5,92.0,96.0,0.0,50.0,21.9
2918,364,1014.4,21.0,20.0,19.7,19.8,94.0,93.0,0.0,50.0,39.5
2919,365,1020.9,22.2,18.8,17.0,13.3,79.0,89.0,0.2,60.0,50.6

In [72]:
X_predict = X_predict[["temparature","pressure","humidity","cloud","sunshine","windspeed"]]

In [74]:
y_predict = clf.predict(X_predict)

In [76]:
df = pd.DataFrame(columns = ["id","rainfall"])

In [78]:
df["id"] = X_predict.index

In [81]:
df["rainfall"] = y_predict

In [84]:
df = df.set_index("id")

In [85]:
df.to_csv("./data/submissions_2.csv")